
:css
  .showarea{

  }
  .inputarea{
    //display:none;
  }
  .inputarea input{
    text-align:right;
  }
%div{:"data-role"=>"content"}
  %div{:class=>"showarea"}
    %ul
      %li メールアドレスの登録を受け付けました。
      %li 指定されたアドレスに本登録のURLを記載したメールをお送りします。

  %hr
  %div{:class=>"inputarea"}
    %p © Takamasa Hirose
